nav
  navbar-default  
    h1 PUG
  ul
    li
      a(href='/') Home
    li
      a(href='/service') Service
    li
      a(href='/contact') Contact
  

  doctype html
html(lang='en')
 head
   title Hello, World!
 body
   h1 Hello, World!
   div.remark
     p Pug rocks!